@charset"utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poor Story', cursive;
}
.logo{
    width: 154px;
    margin: 0 auto;
}
.wide{
    text-align: center;  /*텍스트-정렬: 가운데  */
    background-color:#006FFF;
    background-image: url(img/visual-wide.png) /*배경-이미지 : url(경로/이름.형식)*/;
    background-repeat: no-repeat;               /*배경-반복 안함*/
    background-position: center center;         /*배경-위치:(공간에서) 수평 수직*/
    /*background:#006FFF url("img/visual-wide.png" no-repeat center center);  위 3줄 생략*/

    
}
.menu ul{
    background-color: black; /*메뉴 배경색*/
}

.menu ul{
    list-style-type: none; /*목록 - 스타일 - 종류 : 없음(사각형, 채워진 원, 반원)*/
    display: flex;/*표시 : 플렉스(유연한 구조?)*/
    justify-content: center; /*컨텐츠-정렬 : 가로 가운데*/
}
.menu ul li{
    padding:20px 0;
}
.menu a{
    color: white;
    text-decoration: none; /*텍스트-꾸밈: 없음*/
}
.price, .casting{
    width:600px;
    margin : 0 auto;
}
.price, .price th, .price td, .casting, .casting th, .casting td{
    border : 1px solid black; /*테두리: 1픽셀 두께 직선 검정색*/

    border-collapse: collapse; /*테두리-겹침 : 겹쳐서 표현*/
    /*border: width 1px;  테두리선의 두께
    border-style: solid;  테두리선의 종류
    border-color: #333;   테두리 선의 색상  /2번 줄과 같음*/
}

.price caption, .casting caption{
    font-size:18px;
    font-weight:bolder; /*글자-두께 : 더 두껍게 (폰트마다 다름)*/
    margin: 30px 0 20px 0;
}
.price th, .price td, .casting th, .casting td{
    padding: 20px;

}
.sub_menu ul{
    background-color: white; /*메뉴 배경색*/
    border: 1px solid gray;
    margin: 50px 0 0 0; /*
}

.sub_menu ul{
    list-style-type: none; /*목록 - 스타일 - 종류 : 없음(사각형, 채워진 원, 반원)*/
    display: flex;/*표시 : 플렉스(유연한 구조?)*/
    justify-content: center; /*컨텐츠-정렬 : 가로 가운데*/
}
.sub_menu ul li{
    padding:20px 0;
}
.sub_menu a{
    color: rgb(0, 0, 0);
    text-decoration: none; /*텍스트-꾸밈: 없음*/
}
.site_info{
    background-color: black;    
    text-align: center;
}


.site_info p{
    color: white;
    margin:20px 0;
}